<nav>
    <h1 style="margin-left: 30px;"><i class="fa-solid fa-bars-progress" style="color: #ffffff;margin-right: 10px;"></i>TaskHub</h1>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i  class="fa-solid fa-bars" style="color: #fafafa;"></i>    </label>
    <ul>
        <li><a  routerLink="/">Home</a></li>
        <li><a *ngIf="loginshow" routerLink="login">Login</a></li> 

        <li><a *ngIf="userShow" routerLink="/dashboard">Dashboard</a></li>
        <li><a *ngIf="userShow" routerLink="/profile">Profile</a></li>

        <li *ngIf="logoutshoow"><a (click)="logout()">LogOut</a></li>     
    </ul> 
</nav>
<section>
</section>