<app-nav></app-nav>
<div class="containerr">

   <div class="left">

  
  </div>


  <div class="right">


    <div class="buttons">
        <button class="btnfilter" type="button"  (click)="Addnavigate()">Add Task</button>
        <button class="btnfilter" type="button"  (click)="Alltask()">All Tasks</button>
        <button class="btnfilter" type="button" (click)="Pending()">Pending Tasks</button>
        <button class="btnfilter" type="button"  (click)="Completed()">Completed Tasks</button>
    </div>


    <!-- All task table -->
     <div class="table">
      <div class="container" id="tableee" *ngIf="Alltaskshow">
        <div class="col-md-12 col-12 col-sm-12">
            <div class="card">
              <div class="card-header">
                <h4>Task Details</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table  class="table table-striped w-100">
                    <tbody>
                      <tr >
                        <th>Task Name</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                      <tr *ngFor="let task of Usertasks; trackBy: trackById">
                          <th>{{ task.title }}</th>
                      <th>{{ task.dueDate }}</th>
                      <ng-container *ngIf="task.status === 'pending'">
                        <th>{{ task.status }} <input type="checkbox" name="" id="" (click)="updateStatus(task)"></th>
                    </ng-container>
                    <ng-container *ngIf="task.status !== 'pending'">
                        <th style="color: green;">{{ task.status }} <i class="fa-solid fa-check" style="color: #107e02;"></i></th>
                    </ng-container>                        <td>
                          <a class="btn  btn-action mr-1" style="background-color: #16a085;color:white;"  data-toggle="tooltip" title="" data-original-title="Edit" (click)="viewnavigte(task.id)">View Task</a>
                          <a class="btn btn-danger btn-action" style="margin-left: 7px;" data-toggle="tooltip" title=""   (click)="deleteTask(task.id)"><i class="fas fa-trash"></i></a>
                        </td>
                      </tr>
                      <tr *ngIf="Usertasks.length === 0" class="text-center">
                        <td colspan="4" class="p-3">No tasks...! Add Yours</td>
                      </tr>
                      <tr>
                  </tbody></table> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Pending task tabke -->
       
          <div class="container" *ngIf="Pendingtaskshow">
            <div class="col-md-12 col-12 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Task Details</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table  class="table table-striped w-100">
                        <tbody>
                          <tr >
                            <th>Task Name</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                          <tr *ngFor="let task of pendingUserTasks; trackBy: trackById">
                              <th>{{ task.title }}</th>
                          <th>{{ task.dueDate }}</th>
                          <ng-container *ngIf="task.status === 'pending'">
                            <th>{{ task.status }} <input type="checkbox" name="" id="" (click)="updateStatus(task)"></th>
                        </ng-container>
                        <ng-container *ngIf="task.status !== 'pending'">
                            <th style="color: green;">{{ task.status }} <i class="fa-solid fa-check" style="color: #107e02;"></i></th>
                        </ng-container>         
                            <td>
                              <a class="btn  btn-action mr-1" style="background-color: #16a085;color:white;"  data-toggle="tooltip" title="" data-original-title="Edit">View Task</a>
                              <a class="btn btn-danger btn-action" style="margin-left: 7px;" data-toggle="tooltip" title=""   (click)="deleteTask(task.id)"><i class="fas fa-trash"></i></a>
                            </td>
                          </tr>
                          <tr *ngIf="pendingUserTasks.length === 0" class="text-center">
                            <td colspan="4" class="p-3">No Pending tasks...!</td>
                          </tr>
                      </tbody></table> 
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Completed task table -->
           
              <div class="container" *ngIf="Completedtaskshow">
                <div class="col-md-12 col-12 col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h4>Task Details</h4>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table  class="table table-striped w-100">
                            <tbody>
                              <tr >
                                <th>Task Name</th>
                                <th>Due Date</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr>
                              <tr *ngFor="let task of CompletedUserTasks; trackBy: trackById">
                                  <th>{{ task.title }}</th>
                              <th>{{ task.dueDate }}</th>
                              <th>{{ task.status }}</th>
                                <td>
                                  <a class="btn  btn-action mr-1" style="background-color: #16a085;color:white;"  data-toggle="tooltip" title="" data-original-title="Edit">View Task</a>
                                  <a class="btn btn-danger btn-action" style="margin-left: 7px;" data-toggle="tooltip" title=""   (click)="deleteTask(task.id)"><i class="fas fa-trash"></i></a>
                                </td>
                              </tr>
                              <tr *ngIf="CompletedUserTasks.length === 0" class="text-center">
                                <td colspan="4" class="p-3">No Completed tasks...!</td>
                              </tr>
                          </tbody></table> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

    </div>
  </div>

</div>
 

 




