.containerr{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.left{
    width:35%;
    height:100vh;
}
.tableeee{
width: 100%;
max-height: auto;
display: flex;
justify-content: space-between;
justify-content: center;

}
.filterr{
    width: 25%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filterr a{
    color: blue;
    text-decoration: underline;
}
.filterr li{
    margin: 6px;
}
.buttonn{
    width: auto;
    height:auto;
    padding:7px;
    border: none;
    background-color: #009879;
    color: white;
    margin:0px 5px;

border-radius: 6px;}
.btnnss{
    width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;

}

.right{
    width:65%;
    height:100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.btn{
    width: auto;
    padding: 6px;
    border:none;
    border-radius: 6px;
    background-color: #009879;
    color:white;
    margin-right: 5px;
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 200px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: 0px;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}