<app-nav></app-nav>
<div class="containerr">
  <div class="left">
    <div class="chart">
      <!-- <canvas id="piechart">

      </canvas>
             -->
    </div>
  </div>
  <div class="right" >
    <div class="btnnss" ><button class="buttonn" (click)="Addnavigate()">Add Task</button>
    </div>
   <div class="tableeee" >
    <div class="filterr">
      <div>
        <ul>
        
          <li><a (click)="Alltask()">All Tasks</a></li>
          <li><a (click)="Pending()">Pending Tasks</a></li>
          <li><a (click)="Completed()">Completed Tasks</a></li>
        </ul>
      </div>
    </div>
    <!-- All Task display -->
    <div class="tble">
       <table *ngIf="Alltaskshow" class="content-table rounded shadow-lg bg-light text-dark border" style="width: 700px;">
    <thead class="border">
      <tr>
        <th class="p-2 text-center" style="width: 150px;">Title</th>
        <th class="p-2 text-center" style="width: 150px;">Due Date</th>
        <th class="p-2 text-center" style="width: 150px;">Status</th>
        <th class="p-2 text-center" style="width: 150px;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasksDetails; trackBy: trackById" class="text-center">
        <td class="p-3">{{ task.title }}</td>
        <td class="p-3">{{ task.dueDate }}</td>
        <td class="p-3">{{ task.status }} <input type="checkbox" [(ngModel)]="task.status" (change)="updateStatus(task)"></td>
        <td class="p-3"><button class="btn" (click)="view(task.id)">View Details</button><i (click)="deleteTask(task.id)" class="fa-solid fa-trash" style="color: #ff0505;"></i></td>
      </tr>
      <tr *ngIf="tasksDetails.length === 0" class="text-center">
        <td colspan="4" class="p-3">No tasks...! Add</td>
      </tr>
    </tbody>
  </table>
  
         <!-- pedding task table -->
         <table *ngIf="Pendingtaskshow" class="content-table rounded shadow-lg bg-light text-dark border" style="width: 700px;">
          <thead class="border">
            <tr>
              <th class="p-2 text-center" style="width: 150px;">Title</th>
              <th class="p-2 text-center" style="width: 150px;">Due Date</th>
              <th class="p-2 text-center" style="width: 150px;">Status</th>
              <th class="p-2 text-center" style="width: 150px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of pendingTasks; trackBy: trackById" class="text-center">
              <td class="p-3">{{ task.title }}</td>
              <td class="p-3">{{ task.dueDate }}</td>
              <td class="p-3">{{ task.status }} <input type="checkbox" [(ngModel)]="task.status" (change)="updateStatus(task)"></td>
              <td class="p-3"><button class="btn" (click)="view(task.id)">View Details</button><i (click)="deleteTask(task.id)" class="fa-solid fa-trash" style="color: #ff0505;"></i></td>
            </tr>
            <tr *ngIf="pendingTasks.length === 0" class="text-center">
              <td colspan="4" class="p-3">No tasks...! Add</td>
            </tr>
          </tbody>
        </table>
        
         <!-- Completed task table -->
          <table *ngIf="Completedtaskshow" class="content-table rounded shadow-lg bg-light text-dark border" style="width: 700px;">
            <thead class="border">
              <tr>
                <th class="p-2 text-center" style="width: 150px;">Title</th>
                <th class="p-2 text-center" style="width: 150px;">Due Date</th>
                <th class="p-2 text-center" style="width: 150px;">Status</th>
                <th class="p-2 text-center" style="width: 150px;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of CompletedTasks; trackBy: trackById" class="text-center">
                <td class="p-3">{{ task.title }}</td>
                <td class="p-3">{{ task.dueDate }}</td>
                <td class="p-3">{{ task.status }} <input type="checkbox" [(ngModel)]="task.status" (change)="updateStatus(task)"></td>
                <td class="p-3"><button class="btn" (click)="view(task.id)">View Details</button><i (click)="deleteTask(task.id)" class="fa-solid fa-trash" style="color: #ff0505;"></i></td>
              </tr>
              <tr *ngIf="CompletedTasks.length === 0" class="text-center">
                <td colspan="4" class="p-3">No tasks...! Add</td>
              </tr>
            </tbody>
          </table>
          
    </div>
      
   </div>
  </div>
  
</div>