<app-nav></app-nav>
<div class="container">

    <div class="box">
        <div class="left">
            <div class="title">
                <div class="lftt">title</div>
                <div class="rgt">{{ Task?.title }}</div>
            </div>
            <div class="title">
                <div class="lftt">Description</div>
                <div class="rgt">{{ Task?.description }}</div>
            </div>
            <div class="title">
                <div class="lftt">dueDate</div>
                <div class="rgt">{{ Task?.dueDate }}</div>
            </div>
            <div class="title">
                <div class="lftt">priority</div>
                <div class="rgt">{{ Task?.priority }}</div>
            </div>
            <div class="title">
                <div class="lftt">status</div>
                <div class="rgt"> {{ Task?.status }}</div>
            </div>
            <div class="title">
                <div class="lftt"><button (click)="Navigateedit(Task.id)">Edit</button></div>
                <div class="rgt"> <button (click)="deleteTask(Task.id)">Delete</button></div>
                <div class="rgt"> <button (click)="updateStatus(Task)">Mark as completed</button></div>

            </div>
            <!-- <p>Title: </p>
            <p>Description: </p>
            <p>Due Date: </p>
            <p>Priority: </p>
            <p>Status:</p>
           -->
        </div>
    </div>

</div>

