<app-nav></app-nav>
<div class="container">
    <div class="wrapper">
      <div class="title"><span>Add Details</span></div>
      <form  #f="ngForm" (ngSubmit)="f.form.valid && Adddetail()">

        <div class="row">
          <input type="text" name="place" id="place"  required placeholder="place"
          [(ngModel)]="form.place"
          required
          #place="ngModel"
          [ngClass]="{'invalid': f.submitted && place.errors}"
          >

          @if (f.submitted && place.errors) {
            <div class="feedback">
              @if (place.errors['required']) {
                <div class="inv">place Is required</div>
              }
            </div>
           }
        </div>
        <div class="row">
          <input type="text" name="designation" id="designation"  required placeholder="designation"
          [(ngModel)]="form.designation"
          required
          #designation="ngModel"
          [ngClass]="{'invalid': f.submitted && designation.errors}"
          >

          @if (f.submitted && designation.errors) {
            <div class="feedback">
              @if (designation.errors['required']) {
                <div class="inv">designation Is required</div>
              }
            </div>
           }
        </div>
        <div class="row">
          <input type="date" name="birthdate" id="birthdate"  required placeholder="birthdate"
          [(ngModel)]="form.birthdate"
          required
          #birthdate="ngModel"
          [ngClass]="{'invalid': f.submitted && birthdate.errors}"
          >

          @if (f.submitted && birthdate.errors) {
            <div class="feedback">
              @if (birthdate.errors['required']) {
                <div class="inv">birthdate Is required</div>
              }
            </div>
           }
        </div>
        <div class="row">
          <input type="text" name="country" id="country"  required placeholder="country"
          [(ngModel)]="form.country"
          required
          #country="ngModel"
          [ngClass]="{'invalid': f.submitted && country.errors}"
          >

          @if (f.submitted && country.errors) {
            <div class="feedback">
              @if (country.errors['required']) {
                <div class="inv">country Is required</div>
              }
            </div>
           }
        </div>
        <div class="row">
          <input type="text" name="facebook" id="facebook"  required placeholder="facebook"
          [(ngModel)]="form.facebook"
          required
          #facebook="ngModel"
          [ngClass]="{'invalid': f.submitted && facebook.errors}"
          >

          @if (f.submitted && facebook.errors) {
            <div class="feedback">
              @if (facebook.errors['required']) {
                <div class="inv">facebook Is required</div>
              }
            </div>
           }
        </div>
        <div class="row">
          <input type="text" name="instagram" id="instagram"  required placeholder="instagram"
          [(ngModel)]="form.instagram"
          required
          #instagram="ngModel"
          [ngClass]="{'invalid': f.submitted && instagram.errors}"
          >

          @if (f.submitted && instagram.errors) {
            <div class="feedback">
              @if (instagram.errors['required']) {
                <div class="inv">instagram Is required</div>
              }
            </div>
           }
        </div>
        <div class="row">
          <input type="text" name="linkedIn" id="linkedIn"  required placeholder="linkedIn"
          [(ngModel)]="form.linkedIn"
          required
          #linkedIn="ngModel"
          [ngClass]="{'invalid': f.submitted && linkedIn.errors}"
          >

          @if (f.submitted && linkedIn.errors) {
            <div class="feedback">
              @if (linkedIn.errors['required']) {
                <div class="inv">linkedIn Is required</div>
              }
            </div>
           }
        </div>
        <div class="req">
            <div class="row button">
              <button class="buttonnn" type="submit">Add</button>
            </div>
            <div class="row button">
                <button class="buttonnn" type="button" (click)="Cancel()" >Cancel</button>
              </div>
        </div>
      </form>
    </div>
    </div>


