<app-nav></app-nav>
<div class="container">
    <div class="card-container">
        <span class="pro" (click)="Edit()">Edit</span>
        <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
        <h3>{{User.username}}</h3>
        <h6>{{ User.place || 'Add Place' }}</h6>
        <p>{{ User.designation || 'Add Designation ' }}</p>
        <p>{{ User.birthdate || 'Add Birthdate' }}</p>
        <p>{{ User.country || 'Add Country ' }}</p>
        
        <div class="skills">
          <div>  <button (click)="Pro()" class="backbtn">Back</button>
            <button (click)="Pro()" class="backbtn">Change your Password</button>
        </div>
            <ul>
                <li><a style="text-decoration: none;color: black;" href="{{ User.facebook }}" target="_blank">Facebook</a></li>
                <li><a style="text-decoration: none;color: black;" href="{{ User.instagram }}" target="_blank">Instagram</a></li>
                <li><a style="text-decoration: none;color: black;" href="{{ User.linkedIn }}" target="_blank">LinkedIn</a></li>
              </ul>
              
        </div>
    </div>
</div>

