<app-nav></app-nav>
<div class="container">
    <div class="card-container">
        <span class="pro">Edit</span>
        <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
        <h3>{{User.username}}</h3>
        <h6>Place</h6>
        <p> Designation</p>
        <p> Your Birthdate</p>
        <p> Your country</p>
        <div class="skills">
            <button class="backbtn">Back</button>
            <ul>
                <li><a>Facebook</a></li>
                <li><a>Instagram</a></li>
                <li><a>LinkedIn</a></li>
            </ul>
        </div>
    </div>
</div>

