<app-adminnav></app-adminnav>
<div class="divvv">
    <div class="container" id="tableee">
        <div class="col-md-12 col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Users Details</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped w-100">
                            <tbody>
                                <tr >
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                                <tr *ngFor="let User of users;">
                                    <th>{{User.username}}</th>
                                    <th>{{User.email}}</th>
                                    <td>
                                        <a (click)="Blockuser(User.id)" class="btn btn-danger btn-action" style="margin-left: 7px;" data-toggle="tooltip" title="">Block User<i class="fas fa-trash ms-2" ></i></a>
                                    </td>
                                </tr>
                                <!-- <tr  class="text-center">
                                    <td colspan="4" class="p-3">No tasks...! Add Yours</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

