<app-nav></app-nav>
<div class="landing">
    <div class="cont">
         <h1 style="font-size: 85px;margin-bottom: 15px;  font-family:Oswald, sans-serif;
         ">Manage Your Tasks.</h1>
         <p style="width: 889px;text-align: center;margin-bottom: 15px;">Organize and manage your team like a boss with TaskHub, task management software packing more capabilities than you can imagine.</p>
         <button class="discover">Login</button>
    </div>

    <div class="second-section">
        <div class="second-section-image"></div>
        <div class="second-section-content">
            <div class="aboutus">
                <h2  style="font-family: Fredoka, sans-serif;font-weight: 500;color: rgb(10, 175, 175);">Why TaskHub</h2>
                <div class="linecont">
                    <div class="line1"></div>
                    <div class="line2"></div>
                </div>
            </div>
            <div class="contentabout">
                <h1  style="font-family: Fredoka, sans-serif;font-weight: 500">Welcome to TaskHub</h1>
                <p style="margin-top: 10px;">When it comes down to choosing task management, all you need is three things:</p>
            </div>
            <div class="specifications">
                <div class="lists">
                    <ul>
                        <li>Free</li>
                        <li>Easy to use</li>
                        <li>Versatility</li>
                    </ul>
                </div>
            </div>
            <p style="margin-bottom: 7px;">Coincidentally, that’s exactly what you get from TaskHub - task management software that’s easy to use and features dozens of collaboration tools.</p>
            <button class="land-btn" >Get Started</button>
        </div>

    </div>
     
 </div>
<div class="first-section">
    <div class="box">
        <i id="cap"  class="fa-solid fa-list-check" style="color:#16a085;"></i>
        <h2 style="margin-top: 10px;font-family: Fredoka, sans-serif;font-weight: 500;">Task Organization</h2>
        <p style="text-align: center;width: 200px;margin-top: 10px;">Organize your tasks efficiently with categories and priorities.</p>
    </div>
    <div class="box">
        <i id="cap" class="fa-solid fa-clock"  style="color:#16a085;"></i>
        <h2 style="margin-top: 10px;font-family: Fredoka, sans-serif;font-weight: 500;">Deadline Tracking</h2>
        <p  style="text-align: center;width: 200px;margin-top: 10px;">Keep track of deadlines and never miss an important date.</p>
    </div>
    <div class="box">
        <i id="cap"  class="fa-solid fa-eye" style="color:#16a085;"></i>
        <h2 style="margin-top: 10px;font-family: Fredoka, sans-serif;font-weight: 500;">Progress Visualization</h2>
        <p style="text-align: center;width: 200px;margin-top: 10px;">Visualize your progress with charts and graphs to stay motivated.</p>
       
    </div>
    <div class="box">
        <i id="cap"  class="fa-solid fa-bell"   style="color:#16a085;"></i>
        <h2 style="margin-top: 10px;font-family: Fredoka, sans-serif;font-weight: 500;">Reminder Alerts</h2>
        <p style="text-align: center;width: 200px;margin-top: 10px;">Set reminders and get notified about upcoming tasks and deadlines.</p>
       
    </div>
</div>