
nav{
    background-color: #16a085;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
  
  }
  nav ul{
    float:right;
    list-style: none;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    transition: .5s;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
  }
  a:hover{
    background-color: #297bb2;
    color: white;
  }
  .checkbtn{
    float: right;
    line-height: 80px;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  section{
    height:0px;
    width: 100%;
  }
  
  
  @media (max-width: 858px){
  .checkbtn{
    display: block;
   }
   ul{
    position: absolute;
    width: 50%;
    height:100vh;
    background: white;
    color: #16a085;
    top:80px ;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 5;
    }
    nav ul li{
      display: block;
      margin: 29px 0;
      line-height: 30px;
  
    }
    nav ul li a{
      font-size: 20px;
      color: #16a085;
      
  
    } 
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left:0 ;
    }
    .hide-menu {
      display: none;
  }
   
  }