<app-nav></app-nav>

<div class="containerrrr">
    <div class="container">
        <div class="row">
            <div class="col-md-0 shadow" id="boxx">
                <div class="project-info-box mt-0" id="info">
                    <h5 style="font-weight: 700;font-size: 30px;">{{Task.title}}</h5>
                    <p class="mb-0">{{Task.description}}</p>
                </div>
                <div class="project-info-box mt-0" id="info">
                    <p><b>Due Date :</b> {{Task.dueDate}}</p>
                    <p><b>Priority :</b> {{Task.priority}}</p>
                    <b style="color: grey;">Status : </b> 
                    <ng-container [ngSwitch]="Task.status">
                    <th *ngSwitchCase="'pending'">
                    {{ Task.status }} <input type="checkbox" (click)="updateStatus(Task)">
                  </th>
                  <th style="color: red;" *ngSwitchCase="'overdue'">
                    {{ Task.status }} <input type="checkbox" (click)="updateStatus(Task)">
                  </th>
                  <th *ngSwitchDefault style="color: green;">
                    {{ Task.status }} <i class="fa-solid fa-check" style="color: #107e02;"></i>
                  </th>
                </ng-container>     
                </div>
                <div class="btnsssss">
                  <button (click)="Cancell()" class="buttontaskview">Back</button>
                    <button (click)="Navigateedit(Task.id)" class="buttontaskview">Edit</button>
                    <button (click)="deleteTask(Task.id)" class="buttontaskviewdelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
