<app-nav></app-nav>

<div class="containerrrr">
    <div class="container">
        <div class="row">
            <div class="col-md-0 shadow" id="boxx">
                <div class="project-info-box mt-0" id="info">
                    <h5 style="font-weight: 700;font-size: 30px;">{{Task.title}}</h5>
                    <p class="mb-0">{{Task.description}}</p>
                </div>
                <div class="project-info-box mt-0" id="info">
                    <p><b>Due Date :</b> {{Task.dueDate}}</p>
                    <p><b>Priority :</b> {{Task.priority}}</p>
                    <b style="color: grey;">Status : </b> 
                        <div [ngSwitch]="Task.status" style="display: inline-block;">
                          <div *ngSwitchCase="'pending'" style="display: inline-block;">
                            {{ Task.status }} <input type="checkbox" (click)="updateStatus(Task)">
                          </div>
                          <div *ngSwitchCase="'overdue'" style="display: inline-block;">
                            {{ Task.status }} <input type="checkbox" (click)="updateStatus(Task)">
                          </div>
                          <div *ngSwitchDefault style="display: inline-block;">
                            <span style="color: green; font-weight: 800;">{{ Task.status }}</span> <i class="fa-solid fa-check" style="color: #107e02;margin-top: 5px;"></i>
                          </div>
                        </div>               
                </div>
                <div class="btnsssss">
                  <button (click)="Cancell()" class="buttontaskview">Back</button>
                    <button (click)="Navigateedit(Task.id)" class="buttontaskview">Edit</button>
                    <button (click)="deleteTask(Task.id)" class="buttontaskviewdelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
