<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Features</h3>
                    <ul>
                        <li><a>Dashboard</a></li>
                        <li><a>Tasks</a></li>
                        <li><a>Chart</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a>About Us</a></li>
                        <li><a>Our Team</a></li>
                        <li><a>Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a>Add Task</a></li>
                        <li><a>Manage Tasks</a></li>
                        <li><a>Profile</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a ><i class="fa-brands fa-facebook"></i></a><a><i class="fa-brands fa-instagram"></i></a><a ><i class="fa-brands fa-snapchat"></i></a><a><i class="fa-brands fa-twitter"></i></a>
                    <p class="copyright">TaskHub © 2024</p>
                </div>
            </div>
        </div>
    </footer>
</div>
